@using MvcKutuphane.Models.Entity
@model List<TblKitap>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.yzrad</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Kitap Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.TblKategori.AD</td>
            <td>@item.YayınEvi</td>
        </tr>
    }
</table>

